<!doctype html>
{% extends "base.html" %}

{% block metanav %}
  <a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}


{% block content %}
<table class="table table-hover">
  <tr>
    <td>Name</td>
    <td>{{user.name}}</td>
  </tr>
  <tr class="success">
    <td>Email</td>
    <td>{{user.email}}</td>
  </tr>
  <tr class="warning">
    <td>Password</td>
    <td>******</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{user.gender}}</td>
  </tr>
  <tr>
    <td>Role</td>
    <td>{{user.getRole()}}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{user.getStatus()}}</td>
  </tr>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 34%"></th>
      <th style="width: 66%"></th>
    </tr>
  </thead>
  {% for f in facebook %}
  <tr class="info">
    <td>FaceBook ID</td>
    <td>{{f.getFacebookID()}}</td>
  </tr>
  {% endfor %}
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 34%"></th>
      <th style="width: 66%"></th>
    </tr>
  </thead>
  {% for t in twitter%}
  <tr class="info">
    <td>Twitter ID</td>
    <td>{{t.getTwitterID()}}</td>
  </tr>
  {% endfor %}
</table>

<br>
<br>
<a href="{{ url_for('facebook.register') }}">Add a Facebook account</a>
<br>
<a href="{{ url_for('twitter.register') }}">Add a Twitter account</a>

{% endblock %}
