{% extends "base.html" %}
{% block content %}
  {% from "forms/macros.html" import render_field %}
  <form class="form-horizontal" method="POST" action="." class="form">
    <fieldset>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 18%"></th>
            <th style="width: 82%"></th>
          </tr>
        </thead>
        {% for t in twitter%}
        <tr class="info">
          <td style="vertical-align: initial">Twitter ID</td>
          {% if api %}
          <td style="vertical-align: initial">
            <img src="{{api.me().profile_image_url}}">
            {{t.getTwitterID()}} 
            &nbsp;&nbsp;&nbsp;
            "{{api.me().status.text}}" 
          </td>
          {% else %}
          <td style="vertical-align: initial">{{t.getTwitterID()}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <br>
   </fieldset>
  </form>

  <div class="control-group">
    <label class="control-label"></label>
    <div class="span9" id="oauth_span">
      <a href="{{ oauth }}"><button id = "oauth_button" class="btn btn-primary btn-large">Sign in with Twitter Account</button></a>
    </div>
  </div>

  <br>
  <br>
  <br>
{% endblock %}

{% block metanav%}
  <a href="{{ url_for('users.home') }}">Profile</a>  
  &nbsp;&nbsp;&nbsp; 
  <a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}
