<!doctype html>
{% extends "base.html" %}

{% block metanav %}
  <a href="{{ url_for('users.home') }}">Profile</a>
  &nbsp; 
  <a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}


{% block content %}
{% from "forms/macros.html" import render_field %}
<br>
<br>
<br>
 
<!-- Modal -->
<form class="form-horizontal" method="POST" action="." class="form">
<div id="subcribeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="subModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="subModalLabel">Subribe a RSS </h3>
  </div>
  <div class="modal-body">
  <br>
  <br>
    <fieldset>
      {{ form.csrf_token }}
      {{ render_field(form.link, class="input-xlarge") }}
   </fieldset>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-warning">Save RSS</button>
  </div>
</div>
</form>

<div class="row-fluid">
<!-- Button to trigger modal -->
<div id="subcribe" class="span3" style="text-align:center">
<button class="btn btn-warning btn-large" data-toggle="modal" data-target="#subcribeModal" >Subcribe</button>
</div>
<div id="feed_table" class="span8">
  {% for name,headline in feeds.iteritems()%}
  <div class="hero-unit">
    <div class="media">
      <div class="media-body">
        <h4 class="headline">
        <a href="{{headline["href"]}}"> {{name}} ({{headline["number"]}})</a>
        </h4>
        <h4 class= "title">{{headline["head"]}}</h5>
        {{headline["description"].encode('utf-8')}}
      </div>
    </div>
  </div>
  {% endfor %}
  <br>
  <br>
</div>


{% endblock %}
