body{
font-family: 'Comic Sans';
background: #eee; 
}

h1, h2, h3{
color: #996600;
font-family: Geneva;
}

.page{
margin: 2em auto;
width: 70em;
border: 5px solid #ccc;
padding: 0.8em;
background: white;
}

.metanav{
text-align:right;
font-size: 0.8em;
padding: 0.3em;
margin-bottom: 1em;
background: #fafafa; 
}

.flash{
background: #CEE5F5;
padding: 0.5em;
border: 1px solid #AACBE2;]
}

.error{
background: #F0D6D6; 
padding: 0.5em;
}

.in_line{
}

.check_box{
display: inline-block;
}

.in_line .controls{
padding : 5px 0 0 0;
}

.recaptcha{
padding: 0 175px;
}
#tweet{
font-size:20px;
margin:20px;	
color: gray;
}

#tweets {
width:40%;
margin:0px auto;
}

.tweet_td{
vertical-align: initial;
}

#oauth_button{
}

.modal-header #subModalLabel{
color: #996600;
font-family: Geneva;
}

.headline{
color: #996600;
font-family: Geneva;
}

.title{
font-family: Geneva;
}

#oauth_span{
text-align: center;
}
