body{
font-family: 'Comic Sans';
background: #eee; 
}

h1, h2, h3{
color: #e05f00;
font-family: Geneva;
}

.page{
margin: 2em auto;
width: 70em;
border: 5px solid #ccc;
padding: 0.8em;
background: white;
}

.metanav{
text-align:right;
font-size: 1.2em;
padding: 0.3em;
margin-bottom: 1em;
}

.flash{
background: #CEE5F5;
padding: 0.5em;
border: 1px solid #AACBE2;]
}

.error{
background: #F0D6D6; 
padding: 0.5em;
}

.in_line{
}

.check_box{
display: inline-block;
}

.in_line .controls{
padding : 5px 0 0 0;
}

.recaptcha{
padding: 0 175px;
}
#tweet{
font-size:20px;
margin:20px;	
color: gray;
}

#tweets {
width:40%;
margin:0px auto;
}

.tweet_td{
vertical-align: initial;
}

#oauth_button{
}

.modal-header #subModalLabel{
color: #e05f00;
font-family: Geneva;
}

.headline{
color: #e05f00;
font-family: Geneva;
}

.title{
font-family: Geneva;
}

#oauth_span{
text-align: center;
}

.unsubcribe{
text-align: center;
}

#unsubcribe_confirm{
font-family: Geneva;
}

#hidden-feedName{
display: none;
}

a.menu-tree{
font-size: 1.5em;
}

.left-menu > .nav-list > .active > a{
background-color: #e05f00;
}

li.menu-item{
text-align: left;
font-size: 1.2em;
}

/* custom bootstrap button */
.btn-custom-lighten.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-lighten {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e05f00;
  background-image: -moz-linear-gradient(top, #cc5600, #ff6c00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc5600), to(#ff6c00));
  background-image: -webkit-linear-gradient(top, #cc5600, #ff6c00);
  background-image: -o-linear-gradient(top, #cc5600, #ff6c00);
  background-image: linear-gradient(to bottom, #cc5600, #ff6c00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc5600', endColorstr='#ffff6c00', GradientType=0);
  border-color: #ff6c00 #ff6c00 #b34b00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ff6c00;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-lighten:hover,
.btn-custom-lighten:focus,
.btn-custom-lighten:active,
.btn-custom-lighten.active,
.btn-custom-lighten.disabled,
.btn-custom-lighten[disabled] {
  color: #ffffff;
  background-color: #ff6c00;
  *background-color: #e66100;
}
.btn-custom-lighten:active,
.btn-custom-lighten.active {
  background-color: #cc5600 ;
}
