{% extends "base.html" %}
{% block content %}
  {% from "forms/macros.html" import render_field %}
  <form class="form-horizontal" method="POST" action="." class="form">
    <fieldset>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 18%"></th>
            <th style="width: 82%"></th>
          </tr>
        </thead>
        {% if facebook %}
        {% for f in facebook %}
        {% if graph %}
        <tr class="info">
          <td style="vertical-align: initial">Facebook ID</td>
          <td style="vertical-align: initial">
            <img src="http://graph.facebook.com/{{f.getFacebookID()}}/picture">
            {{f.getFacebookID()}}
            &nbsp;&nbsp;&nbsp;
            "{{graph.get('me/feed')['data'][0]['story']}}" 
          </td>
          {% else %}
          <td style="vertical-align: initial">{{f.getFacebookID()}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
      </table>
      <br>
      <br>
      {{ form.csrf_token }}
      {{ render_field(form.facebook_id, class="input-xlarge") }}
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <button id = "register_button" type=submit class="btn btn-success">Just memo</button>
        </div>
      </div>
   </fieldset>
  </form>

  <br>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <a href="{{ url_for('facebook.authen') }}"><button id = "oauth_button" class="btn btn-primary">Sign in with Facebook Account</button></a>
    </div>
  </div>

{% endblock %}

{% block metanav%}
  <a href="{{ url_for('users.home') }}">Profile</a>  
  &nbsp;&nbsp;&nbsp; 
  <a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}
