{% extends "base.html" %}
{% block content %}
  {% from "forms/macros.html" import render_field %}
  <form class="form-horizontal" method="POST" action="." class="form">
    <fieldset>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 18%"></th>
            <th style="width: 82%"></th>
          </tr>
        </thead>
        {% if facebook %}
        {% for f in facebook %}
        {% if graph %}
        <tr class="info">
          <td style="vertical-align: initial">Facebook ID</td>
          <td style="vertical-align: initial">
            <img src="http://graph.facebook.com/{{f.getFacebookID()}}/picture">
            {{f.getFacebookID()}}
            &nbsp;&nbsp;&nbsp;
            "{{graph.get('me/feed')['data'][0]['story']}}" 
          </td>
          {% else %}
          <td style="vertical-align: initial">{{f.getFacebookID()}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
      </table>
   </fieldset>
  </form>

  <br>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="span9" id="oauth_span">
      <a href="{{ url_for('facebook.authen') }}"><button id = "oauth_button" class="btn btn-primary btn-large">Sign in with Facebook Account</button></a>
    </div>
  </div>

  <br>
  <br>
  <br>
{% endblock %}

{% block metanav%}
  <a href="{{ url_for('users.home') }}">Profile</a>  
  &nbsp;&nbsp;&nbsp; 
  <a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}
